---
layout: default
title: Blogs
permalink: /blog/index.html
---

<div class="page-title">{{ page.title }}</div>

<div class="sep"></div>
{% for post in site.posts %}
  {% unless post.next %}
    <h2 class="year-header">{{ post.date | date: '%Y' }}</h2>
    <table class="blogs-list">
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      </table>
      <div class="sep"></div>
      <div class="sep"></div>
      <h2 class="year-header">{{ post.date | date: '%Y' }}</h2>
      <table class="blogs-list">
    {% endif %}
  {% endunless %}
  <tr>
    <td class="c1"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></td>
    <td class="c2">{{ post.date | date: "%d %b, %Y" }}</td>
  </tr>
{% endfor %}
</table>
<script type="text/javascript">
  var PAGE = "blogs";
</script>
