{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block social_meta %}
    <meta property="og:title" content="{{ article.title|striptags }}"/>
    <meta property="twitter:title" content="{{ article.title|striptags }}"/>
    <meta name="description" content="{{ article.summary|striptags }}"/>
    <meta property="og:description" content="{{ article.summary|striptags }}"/>
    <meta property="twitter:description" content="{{ article.summary|striptags }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="twitter:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:image" content="{{ SITEURL }}{{ article.image }}" />
{% endblock %}
{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        {{ article.title}}</h1>
    </header>
    <div class="pure-hidden-phone pure-hidden-tablet">
      {% include 'article_infos.html' %}
    </div>
    <div class="entry-content">
      {{ article.content }}
    </div><!-- /.entry-content -->
    <div class="pure-hidden-desktop">
      {% include 'article_infos.html' %}
    </div>
    <div class="permalink-div">
      Permalink: <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ SITEURL }}/{{ article.url }}</a>
    </div>
    {% include 'disqus_script.html' %}
  </article>
</section>
{% endblock %}
