*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    background-color:#888;
}
.mainline
{
   	color:red;
	text-align:center;
	text-shadow:dominant-baseline;
	padding-top:30px;
	font-family:nherit;
}
.container
{
	/* background-color:#111; */
	width:1000px; 
	height:700px;
	Margin:auto;
    padding-top:20px;
    background:url(bg1.jpg) no-repeat;
}

.luciaphotolink
{
	text-decoration:none;
}
.luciaphotolink:hover
{
	color:pink;
	
}

.inner
{
	background-color:#cc0000;
	width:460px;
	height:282px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
    /* opacity:0.8; */
    overflow:none;
    border:0;
}
.inner:hover
{
	background-color:pink;
	cursor:pointer;
    opacity:0.9;
    width:452px;
    height:274px;
    border:4px solid #000;
}
.aru
{
	width:100%;
	height:20px;
    padding:10px 0 10px 0;
    margin-top:100px;
    background-color:#333;
    color:#ddd;
    text-align: center;
}

.aru a{
    text-decoration: none;
    color:orange;
}
.aru a:hover{
    color:#fff;
}
.poster
{
	height:100%;
	width:100%;
}

.logo{
    margin-left:20px;
}
.sep{
    height:20px;
    clear:both;
    width:100%;
}
.main {
    width: 700px;
    margin:auto;
    height:429px;
}