body{
    font-size:12px;
}
#details{
    font-size: 12px;
    width:450px;
}
#details th, td{
    padding:2px 10px 2px 10px;
    text-align:left;
    border-bottom:1px solid #aaa;
}
#details tbody tr:hover{
    background-color:#ddd;
}
#details td.amount, #details th.amount{
    text-align:right;
}
.block-petrol, .block-diesel{
    display:inline-block;
    float:left;
    width:20px;
    height:20px;
    margin-right:1px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.block-diesel, .economical{
    background-color: #778FB2;
}
.non-economical{
    background-color:#C35A21;
}
#petrol-blocks, #diesel-blocks, #year-blocks{
    position:relative;
    height:20px;
    margin-bottom:1px;
}
.block-caption{
    display:inline-block;
    float:left;
    width:120px;
    height:20px;
    padding-right:10px;
    margin-right:1px;
    background-color:#C6D2E3;
    text-align: right;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    
}
.block-year{
    display:inline-block;
    float:left;
    padding-top:3px;
    width:20px;
    height:17px;
    margin-right:1px;
    background-color:#C6D2E3;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 10px;
}
.form-group{
    margin-bottom:20px;
    background-color:#ddd;
    padding:10px 20px 20px 20px;
    width:180px;
}
#diesel-petrol-form{
    width:300px;
    margin:10px;
    float:left;
}
#graph{
    margin:10px;
    float:left;
}
.form-group h3{
    font-size:16px;
    color:#333;
    margin:5px 0 10px 0;
}
.block-label{
    display:block;
    margin:10px 0 5px 0;
}
.txt{
    border:1px solid #aaa;
    border-radius:5px;
    padding:5px;
    width:170px;
}
.top{
    background-color:#333;
    color:#fff;
    height:40px;
}
.page-heading{
    display:block;
    padding:5px 0;
    font-size:22px;
    
}
.website-credit{
    text-align:right;
    font-size:18px;
    padding-top:5px;
}
.website-credit a{
    text-decoration:none;
    color:orange;
}
.website-credit a:hover, .website-credit a:hover span{
    text-decoration:none;
    color:#93E527;
}
.sep{
    height:20px;
}
.copyright{
    color:#bbb;
    text-align:center;
}
.footer{
    background-color:#777;
    height:50px;
}
.note{
    color:#777;
    font-size:11px;
}
.how-it-works{
    background-color:#ddd;
}
#emi{
    margin-top:5px;
}