<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Aravinda VK">
    <meta name="google-site-verification" content="PwqxyVtbmKeb1wsrF8XJ5GQIPxlDxUupYnTEWPI3KLk" />
    <meta name="description" content='{{ page.desc }}'>
    <meta name="keywords" content="None">
    <title>{{ page.title }} - Aravinda VK </title>
    <link href="{{ site.baseurl }}/static/fav.png" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/static/fav.png" />
    <link href="http://feeds.feedburner.com/aravindavk" rel="alternate" title="Aravinda VK" type="application/atom+xml"/>    
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/normalize.css" type="text/css" media="screen" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/static/css/ie.css" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/emacs-highlight.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery-1.6.4-min.js"></script>
  </head>
  <body>
    <div class="container only-mobile">
      <div class="row">
        <div class="ninecol">
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/static/logo.png" class="logo" alt="" /></a>
        </div>
      </div>
    </div>
    
    <div class="container main-container">
      <div class="row main">
        <div class="ninecol left">
          <div class="content">
            {{ content }}
          </div>
        </div>
        <div class="threecol last">
          <div class="clear sep"></div>
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/static/me.jpg" class="" alt="" /></a>
          <div id="sidebar-fixed">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/static/logo.png" class="logo" alt="" /></a>
            <div class="clear half-sep"></div>
            <div id="link-icon-msg"></div>
            <a href="http://feeds.feedburner.com/aravindavk" target="_blank"><img src="{{ site.baseurl }}/static/images/feed.png" class="link-icon" alt="" custom="News"/></a>
            <a href="http://twitter.com/aravindavk" target="_blank"><img src="{{ site.baseurl }}/static/images/twitter.png" class="link-icon" alt="" custom="Twitter"/></a>
            <a href="https://plus.google.com/112771262718323928488" target="_blank"><img src="{{ site.baseurl }}/static/images/gplus.png" class="link-icon" alt=""  custom="Google plus"/></a>
            <a href="https://github.com/aravindavk" target="_blank"><img src="{{ site.baseurl }}/static/images/github.png" class="link-icon" alt=""  custom="Github"/></a>
            <a href="http://www.flickr.com/photos/aravindavk" target="_blank"><img src="{{ site.baseurl }}/static/images/flickr.png" class="link-icon" alt=""  custom="Flickr"/></a>
            <a href="http://in.linkedin.com/in/aravindavk" target="_blank"><img src="{{ site.baseurl }}/static/images/linkedin.png" class="link-icon" alt=""  custom="LinkedIn"/></a>
            <div class="clear sep"></div>
            <div id="main-menu">
              <a id="home-menu" class="main-menu-item" href="{{ site.baseurl }}/">Home</a>
              <a id="me-menu" class="main-menu-item" href="{{ site.baseurl }}/me">About</a>
              <a id="projects-menu" class="main-menu-item" href="{{ site.baseurl }}/projects">Projects</a>
              <a id="archive-menu" class="main-menu-item" href="{{ site.baseurl }}/archive">Archive</a>
              <a id="talks-menu" class="main-menu-item" href="{{ site.baseurl }}/talks">Talks & Articles</a>
            </div>
            <div class="clear sep"></div>
            <div class="clear sep"></div>
            <div class="copyright">© 2008-2012 Aravinda VK <br/> All rights reserved</div>
          </div>

        </div>
      </div>

      <script type="text/javascript">
        
        $(document).ready(function(){
                if (PAGE) $("#" + PAGE + "-menu").addClass("main-menu-item-selected");

        $(".txt, .txtarea")
            .live("focusin", function(){
                      $(this).css("background-color", "#fffff0");
                  })
            .live("focusout", function(){
                      $(this).css("background-color", "#fff");
                  });

        $(".sidebar").css({"height": ($(document).height() + 200) + "px"});
        $(".link-icon")
            .mouseover(function(){
                           $("#link-icon-msg").html($(this).attr("custom"));
                           $(this).css({"opacity":1});
                       })
            .mouseout(function(){
                          $("#link-icon-msg").html('');
                          $(this).css({"opacity":0.8});
                      });

        $(window).scroll(function(){
                             if ($(window).scrollTop() > 210 && $(window).width() > 1200){
                                 $("#sidebar-fixed").css({"position":"fixed", "top":"0"});
                             }
                             else {
                                 $("#sidebar-fixed").css({"position":"relative", "top":"0"});
                             }
                         });
                });
      </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11830111-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>      
  </body>
</html>
