---
layout: default
---
<div class="page-title">{{ page.title }}</div>
<div class="page-subtitle">Posted on {{ page.date | date: "%d %b, %Y" }} by <a href="http://aravindavk.in">{{ site.author }}</a></div>
<div class="sep"></div>
<div class="sep"></div>
{{ content }}
<div class="sep"></div>
<div class="sep"></div>
<script type="text/javascript">
  var PAGE = "post";
</script>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'vkaravinda'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->

<!-- <div class="comments-disabled-note"> -->
<!--   Comments disabled for maintainance. <a href="{{ site.baseurl }}/me">Contact</a> me if you have any questions/suggestions.  -->
<!-- </div> -->
