<!DOCTYPE html>
<html ng-app>
  <head>
    <link href="/theme/img/fav.png" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/theme/img/fav.png" />
    <script src="angular.min.js"></script>
    <script src="charts.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div ng-controller="ChartsCtrl" class="container">
      <div class="chart-head">Blog posts per Year #blogTuesday</div>
      <div class="row" ng-repeat="item in items">
        <div class="item-label">{{item.year}} <span style="font-size:10px">({{item.num_blog}})</span></div>
        <div class="outer">
          <div class="inner" title="{{item.num_blog}} blog posts in year {{item.year}}" style="width:{{item.num_blog*100/52}}%"></div>
        </div>
      </div>
      <div class="chart-label">by
        <span ng-click="toggle()" class="btn">{{sorted_by}}</span>
        in <span ng-click="toggle_order()" class="btn">{{sort_order}}</span> order
      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11830111-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
